<a href="https://colab.research.google.com/github/P1yushhhh/MyDataScienceJourney/blob/main/fundamental_python_0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Why of Python in Data Science


1. Design Phylosophy
2. Batteries Included
3. General Purpose Language
4. Libraries/communities
5. Easy to Learn
6. Proximity with Maths

## Python Output

In [14]:
# Python is a case sensitive language
print('Hello World!')
print(7)
print(True)
print('Hello',2.3,True,sep = '-')
print('Hello',end='/')
print('World')

Hello World!
7
True
Hello-2.3-True
Hello/World

## Data types

In [15]:
# Integer
print(8)
# Decimal/Float
print(8.55)
# Boolean
print(True)
print(False)
# Text/String
print('Hello World')
# complex
print(5+6j)
# List
print([1,2,3,4,5])
# Tuple
print((1,2,3,4,5))
# Sets
print({1,2,3,4,5})
# Dictionary
print({'name':'Piyush','gender':'Male','Age':20})
# type
type([1,2,3])

8
8.55
True
False
Hello World
(5+6j)
[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{1, 2, 3, 4, 5}
{'name': 'Piyush', 'gender': 'Male', 'Age': 20}

list

## Variables

In [16]:
# Dynamic Typing
a = 5
# Static Typing in C/C++
int a= 5

SyntaxError: invalid syntax (<ipython-input-16-7496acd4404f>, line 4)

In [ ]:
# Dynamic Binding
a = 5
print(a)
a = 'hello world'
print(a)

In [ ]:
a,b,c = 1,2,3
print(a,b,c)
a=b=c= 5
print(a,b,c)

## User Input

In [ ]:
# take input from users and store them in a variable
fnum = int(input('enter first number'))
snum = int(input('enter second number'))
print(type(fnum),type(snum))
# add the 2 variables
result = fnum + snum
# print the result
print(result)
print(type(fnum))

## Type Conversion

In [ ]:
# Implicit Vs Explicit
print(5+5.6)
print(type(5),type(5.6))

# int to str
str(5)

# float
float(4)

## Literals

In [ ]:
a = 0b1010 #Binary Literals
b = 100 #Decimal Literal
c = 0o310 #Octal Literal
d = 0x12c #Hexadecimal Literal

#Float Literal
float_1 = 10.5
float_2 = 1.5e2 # 1.5 * 10^2
float_3 = 1.5e-3 # 1.5 * 10^-3

#Complex Literal
x = 3.14j

print(a, b, c, d)
print(float_1, float_2,float_3)
print(x, x.imag, x.real)

In [ ]:
string = 'This is Python'
strings = "This is Python"
char = "C"
multiline_str = """This is a multiline string with more than one line code."""
unicode = u"\U0001f600\U0001F606\U0001F923"
raw_str = r"raw \n string"

print(string)
print(strings)
print(char)
print(multiline_str)
print(unicode)
print(raw_str)

In [ ]:
a = True + 4
b = False + 10

print("a:", a)
print("b:", b)

In [ ]:
k = None
a = 5
b = 6
print('Program exe')